header{
    height: 100px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: xx-large;
    font-weight: 900;
    background-color: red;
}

.player-name{
    height: 50px;
}

#playerNames{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#genSelect{
    width: 500px;
    display: flex;
    justify-content: space-around;
}

.genBtn{
    height: 50px;
    width: 100px;
    font-size: large;
}

main{
    height: calc(100vh - 260px);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
img{
    height:200px;
}

footer{
    height: 100px;
    background-color: yellow;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer>button{
    height: 50%;
}
.poke-containers{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.poke-picture{
    height: 300px;
}

.poke-name{
    font-size: 50px;
}

.poke-attack-btns{
    height: 50px;
    width: 100px;
    font-size: 25px;
    font-weight: 100;
}

.fainted{
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

.purple{
    display: none;
    /* visibility: hidden; */
}